<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/Stylesheets/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

    <div class="sidebar">
        @*<img src="img/Profile-icon-9.png" alt="headshot" class="headshot" />*@
        @*<span id="username">Ishanka Wasalage</span>*@
        <ul class="menu">
            <li><a href="#"><i class="fa fa-home fa-2x"></i>Home</a></li>
            <li><a href="#"><i class="fa fa-close fa-2x"></i>Menu Item 1</a></li>
            <li><a href="#"><i class="fa fa-home fa-2x"></i>Menu Item 2</a></li>
            <li><a href="#"><i class="fa fa-android fa-2x"></i>Menu Item 3</a></li>
            <li><a href="#"><i class="fa fa-home fa-2x"></i>Menu Item 4</a></li>
            <li><a href="#"><i class="fa fa-home fa-2x"></i>Menu Item 5</a></li>
        </ul>

      <a href="#" class="sidebar-expand-btn"><i class="fa fa-angle-double-right fa-2x"></i></a>
    </div>

    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
